= semantic_form_for @group_campaign do |f| 
  = f.inputs do 
    = f.input :name
    = f.input :cc
    = f.input :subject
    = f.input :body
    = f.input :html_body
     
  = f.buttons do 
    = f.commit_button 
