<% title "Leads" %>
<% if current_user.admin? %>
  <table>
    <tr>
      <th>Lead</th>
      <th>Phone</th>
      <th>Campaign</th>
      <th>Agent</th>
      <th>Created At</th>
    </tr>
    <% for lead in @leads %>
      <tr>
        <td><%= link_to "#{lead.firstname} #{lead.lastname}", lead %>
        <td><%= lead.phonenumber %></td>
        <td><%= lead.campaign.name %></td>
        <td><%= lead.user.name %></td>
        <td><%= lead.created_at.stamp("12/13/14 8:59 am") %></td>
        <td><%= link_to "Edit", edit_lead_path(lead) %></td>
        <td><%= link_to "Destroy", lead, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>